{
  "swagger": "2.0",
  "info": {
    "title": "PolySwarm Malware Enrichment",
    "description": "Custom Logic Apps connector for the PolySwarm v3 API. Provides hash, URL and IOC enrichment actions for Microsoft Sentinel playbooks and automation rules. Hash lookups return a scan instance (verdict, PolyScore, per-engine assertions, PolyUnite classification, PE metadata); the metadata query returns an artifact record (tags, families, sandbox scores, MITRE ATT&CK). The two shapes differ; see each operation's response schema.",
    "version": "1.4",
    "contact": {
      "name": "PolySwarm Customer Success",
      "url": "https://docs.polyswarm.io/customers/polyswarm-rest-api-v3",
      "email": "customersuccess@polyswarm.io"
    }
  },
  "host": "api.polyswarm.network",
  "basePath": "/v3",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key_header": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "PolySwarm API key, sent verbatim with no 'Bearer ' prefix."
    }
  },
  "security": [
    {
      "api_key_header": []
    }
  ],
  "paths": {
    "/search/hash/sha256": {
      "get": {
        "operationId": "EnrichSha256",
        "summary": "Enrich a SHA256 hash",
        "description": "Looks up a SHA256 hash and returns the scan instance, including the enumerable per-engine assertions array.",
        "parameters": [
          {
            "name": "hash",
            "in": "query",
            "description": "SHA256 hash to enrich (64 hex characters).",
            "required": true,
            "type": "string",
            "x-ms-summary": "SHA256 hash"
          },
          {
            "$ref": "#/parameters/community"
          }
        ],
        "responses": {
          "200": {
            "description": "Scan instance",
            "schema": {
              "$ref": "#/definitions/ScanSearchResponse"
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Hash not found in the requested community"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/search/hash/sha1": {
      "get": {
        "operationId": "EnrichSha1",
        "summary": "Enrich a SHA1 hash",
        "description": "Looks up a SHA1 hash and returns the scan instance, including the enumerable per-engine assertions array.",
        "parameters": [
          {
            "name": "hash",
            "in": "query",
            "description": "SHA1 hash to enrich (40 hex characters).",
            "required": true,
            "type": "string",
            "x-ms-summary": "SHA1 hash"
          },
          {
            "$ref": "#/parameters/community"
          }
        ],
        "responses": {
          "200": {
            "description": "Scan instance",
            "schema": {
              "$ref": "#/definitions/ScanSearchResponse"
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Hash not found in the requested community"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/search/hash/md5": {
      "get": {
        "operationId": "EnrichMd5",
        "summary": "Enrich an MD5 hash",
        "description": "Looks up an MD5 hash and returns the scan instance, including the enumerable per-engine assertions array.",
        "parameters": [
          {
            "name": "hash",
            "in": "query",
            "description": "MD5 hash to enrich (32 hex characters).",
            "required": true,
            "type": "string",
            "x-ms-summary": "MD5 hash"
          },
          {
            "$ref": "#/parameters/community"
          }
        ],
        "responses": {
          "200": {
            "description": "Scan instance",
            "schema": {
              "$ref": "#/definitions/ScanSearchResponse"
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Hash not found in the requested community"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/search/url": {
      "get": {
        "operationId": "SearchUrl",
        "summary": "Enrich a URL",
        "description": "Looks up a URL in PolySwarm and returns its scan record. Response schema is modelled on the hash lookup and should be confirmed against a live response before relying on individual field paths.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "URL to enrich, including scheme.",
            "required": true,
            "type": "string",
            "x-ms-summary": "URL"
          },
          {
            "$ref": "#/parameters/community"
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "schema": {
              "$ref": "#/definitions/ScanSearchResponse"
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Not found in the requested community"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/ioc/search": {
      "get": {
        "operationId": "SearchIoc",
        "summary": "Find artifacts associated with an IP, domain, TTP or imphash",
        "description": "Returns artifacts observed in association with the supplied indicator. Supply exactly one of ip, domain, ttp or imphash. Response schema is not yet typed; confirm against a live response.",
        "parameters": [
          {
            "name": "ip",
            "in": "query",
            "description": "IPv4 or IPv6 address.",
            "required": false,
            "type": "string",
            "x-ms-summary": "IP address"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "Domain name.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Domain"
          },
          {
            "name": "ttp",
            "in": "query",
            "description": "MITRE ATT&CK technique ID, for example T1486.",
            "required": false,
            "type": "string",
            "x-ms-summary": "TTP"
          },
          {
            "name": "imphash",
            "in": "query",
            "description": "PE import hash.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Imphash"
          },
          {
            "$ref": "#/parameters/community"
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "schema": {
              "$ref": "#/definitions/IocSearchResponse"
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Not found in the requested community"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/ioc/sha256/{sha256}": {
      "get": {
        "operationId": "GetIocsForSha256",
        "summary": "Get IOCs associated with a SHA256",
        "description": "Returns IPs, domains, TTPs and imphashes associated with a sample. Supports the 'corpus context' capability for investigation expansion. Response schema is not yet typed; confirm against a live response.",
        "parameters": [
          {
            "name": "sha256",
            "in": "path",
            "description": "SHA256 hash.",
            "required": true,
            "type": "string",
            "x-ms-summary": "SHA256 hash"
          },
          {
            "$ref": "#/parameters/community"
          }
        ],
        "responses": {
          "200": {
            "description": "Result",
            "schema": {
              "$ref": "#/definitions/IocSearchResponse"
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "404": {
            "description": "Not found in the requested community"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/search/metadata/query": {
      "get": {
        "operationId": "SearchMetadata",
        "summary": "Search artifact metadata",
        "description": "Runs a Lucene-style query against the artifact index and returns artifact records. Use 'artifact.sha256:<hash>' to enrich a single sample with tags, families and sandbox intelligence. Returns HTTP 200 with an empty result array when nothing matches.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Metadata query, for example 'artifact.sha256:5da5a1e...' or 'polyunite.malware_family:LockBit AND scan.latest_scan.polyscore:>=0.95'.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query"
          },
          {
            "$ref": "#/parameters/community"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size.",
            "required": false,
            "type": "integer",
            "default": 50,
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Opaque pagination token returned by a previous response. Pass back unmodified.",
            "required": false,
            "type": "string",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Artifact records",
            "schema": {
              "$ref": "#/definitions/MetadataSearchResponse"
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    }
  },
  "parameters": {
    "community": {
      "name": "community",
      "in": "query",
      "description": "PolySwarm community to search.",
      "required": false,
      "type": "string",
      "default": "default",
      "x-ms-summary": "Community"
    }
  },
  "definitions": {
    "MetadataSearchResponse": {
      "type": "object",
      "description": "Envelope returned by /search/metadata/query.",
      "properties": {
        "status": {
          "type": "string"
        },
        "has_more": {
          "type": "boolean"
        },
        "limit": {
          "type": "integer"
        },
        "offset": {
          "type": "string",
          "description": "Opaque pagination token. Pass back unmodified."
        },
        "result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArtifactRecord"
          }
        }
      }
    },
    "ScanInstance": {
      "type": "object",
      "description": "A single scan of an artifact, as returned by the hash lookups. Verified against a live response.",
      "properties": {
        "id": {
          "type": "string"
        },
        "artifact_id": {
          "type": "string"
        },
        "sha256": {
          "type": "string"
        },
        "sha1": {
          "type": "string"
        },
        "md5": {
          "type": "string"
        },
        "size": {
          "type": "integer"
        },
        "filename": {
          "type": "string"
        },
        "mimetype": {
          "type": "string"
        },
        "extended_type": {
          "type": "string",
          "description": "Human-readable file type, for example 'PE32 executable (GUI) Intel 80386, for MS Windows'."
        },
        "polyscore": {
          "type": "number",
          "format": "double",
          "description": "PolySwarm confidence score between 0 and 1. Higher means more likely malicious."
        },
        "result": {
          "type": "boolean",
          "description": "Overall verdict. True for malicious, false for benign."
        },
        "permalink": {
          "type": "string",
          "description": "Link to this scan on polyswarm.network."
        },
        "detections": {
          "$ref": "#/definitions/Detections"
        },
        "assertions": {
          "type": "array",
          "description": "Per-engine assertions. An array, so it can be filtered and projected by Logic Apps expressions.",
          "items": {
            "$ref": "#/definitions/Assertion"
          }
        },
        "votes": {
          "type": "array",
          "description": "Arbiter votes.",
          "items": {
            "$ref": "#/definitions/Vote"
          }
        },
        "metadata": {
          "type": "array",
          "description": "Tool-keyed metadata. Entries include polyunite, pefile, exiftool, lief and hash.",
          "items": {
            "$ref": "#/definitions/MetadataEntry"
          }
        },
        "first_seen": {
          "type": "string"
        },
        "last_seen": {
          "type": "string"
        },
        "last_scanned": {
          "type": "string"
        },
        "created": {
          "type": "string"
        },
        "community": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Bounty state, for example SETTLED."
        },
        "type": {
          "type": "string",
          "description": "FILE or URL."
        },
        "failed": {
          "type": "boolean"
        },
        "window_closed": {
          "type": "boolean"
        }
      }
    },
    "Assertion": {
      "type": "object",
      "properties": {
        "author": {
          "type": "string"
        },
        "author_name": {
          "type": "string"
        },
        "bid": {
          "type": "string"
        },
        "mask": {
          "type": "boolean"
        },
        "verdict": {
          "type": "boolean",
          "description": "True for malicious, false for benign. Null when the engine did not assert, so match on true explicitly rather than treating non-false as malicious."
        },
        "engine": {
          "$ref": "#/definitions/Engine"
        },
        "metadata": {
          "$ref": "#/definitions/EngineMetadata"
        }
      }
    },
    "Vote": {
      "type": "object",
      "properties": {
        "arbiter": {
          "type": "string"
        },
        "arbiter_name": {
          "type": "string"
        },
        "vote": {
          "type": "boolean",
          "description": "True for malicious, false for benign, null when the arbiter abstained."
        },
        "engine": {
          "$ref": "#/definitions/Engine"
        },
        "metadata": {
          "$ref": "#/definitions/EngineMetadata"
        }
      }
    },
    "Engine": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "EngineMetadata": {
      "type": "object",
      "properties": {
        "malware_family": {
          "type": "string",
          "description": "Vendor-specific family string. May be an empty string."
        },
        "product": {
          "type": "string"
        },
        "scanner": {
          "type": "object",
          "description": "Engine version and environment detail."
        }
      }
    },
    "MetadataEntry": {
      "type": "object",
      "properties": {
        "tool": {
          "type": "string",
          "description": "Metadata producer: polyunite, pefile, exiftool, lief or hash."
        },
        "tool_metadata": {
          "$ref": "#/definitions/ToolMetadata"
        },
        "created": {
          "type": "string"
        },
        "updated": {
          "type": "string"
        }
      }
    },
    "ToolMetadata": {
      "type": "object",
      "description": "Shape depends on the producing tool. Common fields across polyunite, pefile and hash entries are listed here.",
      "properties": {
        "malware_family": {
          "type": "string",
          "description": "polyunite: normalised malware family."
        },
        "labels": {
          "type": "array",
          "description": "polyunite: normalised threat labels.",
          "items": {
            "type": "string"
          }
        },
        "operating_system": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "imphash": {
          "type": "string",
          "description": "pefile: import hash, usable with /v3/ioc/search?imphash=."
        },
        "peid": {
          "type": "string",
          "description": "pefile: detected packer or protector."
        },
        "is_probably_packed": {
          "type": "boolean"
        },
        "compile_date": {
          "type": "string"
        },
        "sections": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "ssdeep": {
          "type": "string"
        },
        "tlsh": {
          "type": "string"
        },
        "authentihash": {
          "type": "string"
        }
      }
    },
    "ArtifactRecord": {
      "type": "object",
      "description": "An artifact record, as returned by /search/metadata/query. Verified against a live response. Carries tags, families and sandbox intelligence that the scan instance does not.",
      "properties": {
        "artifact": {
          "$ref": "#/definitions/Artifact"
        },
        "hash": {
          "$ref": "#/definitions/HashSet"
        },
        "scan": {
          "$ref": "#/definitions/Scan"
        },
        "polyunite": {
          "$ref": "#/definitions/PolyUnite"
        },
        "families": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "type": "array",
          "description": "Classification tags, for example Ransomware, PE32, Windows.",
          "items": {
            "type": "string"
          }
        },
        "extension": {
          "type": "string"
        },
        "meta_community": {
          "type": "string"
        },
        "modified": {
          "type": "string"
        },
        "cape_sandbox_v2": {
          "$ref": "#/definitions/CapeSandbox"
        },
        "triage_sandbox_v0": {
          "$ref": "#/definitions/TriageSandbox"
        },
        "exiftool": {
          "type": "object"
        },
        "pefile": {
          "type": "object"
        },
        "lief": {
          "type": "object"
        }
      }
    },
    "Artifact": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "created": {
          "type": "string"
        },
        "md5": {
          "type": "string"
        },
        "sha1": {
          "type": "string"
        },
        "sha256": {
          "type": "string"
        },
        "size": {
          "type": "integer"
        }
      }
    },
    "HashSet": {
      "type": "object",
      "properties": {
        "md5": {
          "type": "string"
        },
        "sha1": {
          "type": "string"
        },
        "sha256": {
          "type": "string"
        },
        "sha512": {
          "type": "string"
        },
        "ssdeep": {
          "type": "string"
        },
        "tlsh": {
          "type": "string"
        },
        "authentihash": {
          "type": "string"
        }
      }
    },
    "Scan": {
      "type": "object",
      "properties": {
        "detections": {
          "$ref": "#/definitions/Detections"
        },
        "first_seen": {
          "type": "string"
        },
        "last_seen": {
          "type": "string"
        },
        "countries": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filename": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mimetype": {
          "$ref": "#/definitions/MimeType"
        },
        "first_scan": {
          "$ref": "#/definitions/ScanSummary"
        },
        "latest_scan": {
          "$ref": "#/definitions/ScanSummary"
        }
      }
    },
    "ScanSummary": {
      "type": "object",
      "properties": {
        "artifact_instance_id": {
          "type": "string"
        },
        "created": {
          "type": "string"
        },
        "filename": {
          "type": "string"
        },
        "polyscore": {
          "type": "number",
          "format": "double"
        },
        "detections": {
          "$ref": "#/definitions/Detections"
        },
        "assertions": {
          "type": "object",
          "description": "Per-engine assertions keyed by engine name. Unlike the scan instance's array form this cannot be enumerated by a Logic Apps expression, because engine names are dynamic keys and often contain spaces. Take engine names from the hash lookup instead.",
          "additionalProperties": {
            "$ref": "#/definitions/KeyedAssertion"
          }
        },
        "votes": {
          "type": "object",
          "description": "Arbiter votes keyed by arbiter name.",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "KeyedAssertion": {
      "type": "object",
      "properties": {
        "assertion": {
          "type": "string",
          "description": "One of malicious, benign or unknown."
        },
        "metadata": {
          "type": "object"
        }
      }
    },
    "MimeType": {
      "type": "object",
      "properties": {
        "mime": {
          "type": "string"
        },
        "extended": {
          "type": "string"
        }
      }
    },
    "Detections": {
      "type": "object",
      "properties": {
        "benign": {
          "type": "integer"
        },
        "malicious": {
          "type": "integer"
        },
        "total": {
          "type": "integer"
        }
      }
    },
    "PolyUnite": {
      "type": "object",
      "description": "Normalised classification derived from all engine verdicts.",
      "properties": {
        "malware_family": {
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operating_system": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CapeSandbox": {
      "type": "object",
      "properties": {
        "malscore": {
          "type": "number",
          "format": "double"
        },
        "ttp": {
          "type": "array",
          "description": "MITRE ATT&CK technique IDs.",
          "items": {
            "type": "string"
          }
        },
        "signature_names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "signatures": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "dropped": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "network": {
          "type": "object",
          "description": "Observed TCP and UDP connections. Includes sandbox-internal and OS telemetry addresses; not safe to treat as IOCs without filtering."
        },
        "platform": {
          "type": "object"
        }
      }
    },
    "TriageSandbox": {
      "type": "object",
      "properties": {
        "sample_id": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "malware_family": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ttp": {
          "type": "array",
          "description": "MITRE ATT&CK technique IDs.",
          "items": {
            "type": "string"
          }
        },
        "analysis": {
          "type": "object",
          "description": "Contains score, family and tags."
        },
        "extracted": {
          "type": "array",
          "description": "Extracted configuration and ransom notes.",
          "items": {
            "type": "object"
          }
        },
        "targets": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "ScanSearchResponse": {
      "type": "object",
      "description": "Envelope returned by the /search/hash/* and /search/url operations.",
      "properties": {
        "status": {
          "type": "string"
        },
        "has_more": {
          "type": "boolean"
        },
        "limit": {
          "type": "integer"
        },
        "offset": {
          "type": "string",
          "description": "Opaque pagination token. Pass back unmodified."
        },
        "result": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScanInstance"
          }
        }
      }
    },
    "IocSearchResponse": {
      "type": "object",
      "description": "Envelope returned by the /ioc/* operations. The result item shape has not been verified against a live response, so items are left untyped deliberately rather than guessed. Type this before relying on designer dynamic content.",
      "properties": {
        "status": {
          "type": "string"
        },
        "has_more": {
          "type": "boolean"
        },
        "limit": {
          "type": "integer"
        },
        "offset": {
          "type": "string",
          "description": "Opaque pagination token. Pass back unmodified."
        },
        "result": {
          "type": "array",
          "description": "Associated IOC or artifact records.",
          "items": {
            "type": "object"
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://polyswarm.io"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://polyswarm.io/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security"
    }
  ]
}
